Ho provato a creare un altro container per selezionare solo il testo, ed anche a modificarlo ma facendo ciò poi il testo anche cercando di sistemarlo in posizione giusta 
ha problemi, ossia cerco di il nome ma si sposta la professione.