@import url('https://fonts.googleapis.com/css2?family=Anton&family=Fredoka:wght@700&family=Open+Sans&family=Poppins:wght@200&display=swap');

/*font-family: 'Anton', sans-serif;
font-family: 'Fredoka', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;*/



* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

.header {
    font-family: 'Fredoka', sans-serif;
}

h1 {
    font-family: 'Fredoka', sans-serif;
    font-size: 55px;
    color: rgb(158, 63, 247);
    text-align: center;
    padding-top: 30px;
    margin-bottom:30px ;
}

header p {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    text-align: center;
}

img {
    float: left;
    width: 100px;
}

/* box per le descriozioni */
.description {
    float: left;
    color: white;
    background-color: #100E18;
    width: calc((100% - 40px) / 3);
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
    box-shadow: 2px 2px 7px black;
}

.photo-container {
    float: left;
    margin-right: 20px;
}

.description h3 {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.clearfix::after {
    content: '';
    display: table;
    clear:both;
}













    

   



    


    
  
    
